.showcase-section {
    padding-bottom: 10px;
}

.showcase-section__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    border: 1px solid #E9ECF4;
    padding: 12px;
    width: 252px;
    min-height: 424px;
    border-radius: 12px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center; 
}

.item__header {
    font-size: 18px;
    font-weight: 400;
    color: #222734;
    padding-bottom: 4px;
    padding-top: 16px;
}

.item__characteristics-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.item__characteristic {
    width: 180px;
    font-size: 14px;
    color: #6B6F77;
    padding-bottom: 2px;
}

.item__value {
    padding-bottom: 2px;
}

.item__cost {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 12px;
}

.item__buttons-container {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    align-items: center;
}

.item__decrease-button {
    border: none;
    border-radius: 4px;
    color: #9D9FA5;
    font-size: 20px;
    width: 32px;
    height: 32px;
    background-color: #F3F3F3;
}

.item__increase-button {
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    font-size: 20px;
    width: 32px;
    height: 32px;
    background-color: white;
    color: #1E4593;
}

.item__cart-button {
    padding: 8px 12px;
    color: #1E4593;
    border: none;
    background-color: #E9ECF4;
    border-radius: 8px;
}

.showcase-section__buttons-container {
    padding-top: 32px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.showcase-section__page-button {
    border: 1px solid #F3F3F3;
    background-color: white;
    border-radius: 4px;
    width: 34px;
    height: 34px;
}

.showcase-section__page-button_disabled {
    border: none;
    background-color: #F3F3F3;
    color: #9D9FA5;
}

.showcase-section__page-button_active {
    border-color: #1E4593;
    color: #1E4593;
}

.showcase-section__description {
    padding-bottom: 10px;
    color: #6B6F77;
}

.item__information-container {
    position: absolute;
    left: 11px;
    top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__hint {
    padding: 6px 4px;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 4px;
    display: inline-block;
}

.item__hint_new-text {
    color: #92BE66;
    background-color: #EAF4DF;
    border: 1px solid #92BE66;
}

.item__hint_hit-text {
    color: #62AAC9;
    border: 1px solid #62AAC9;
    background-color: #E1EFF5;
}

.item__hint_disabled {
    color: white;
    background-color: #a5a5a5;
}

.item__discount-container {
    position: absolute;
    right: 11px;
    text-align: center;
    top: 12px;
}

.item__hint_discount-text {
    color: #E26279;
    border: 1px solid #E26279;
    background-color: #FCEAEE;
}

.item__buttons-container_choose-container {
    justify-content: center;
}

.item__choose-other-item-button {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: white;
    color: #9B1C1C;
    border: 1px solid #9B1C1C;
}

.item__old-price {
    text-decoration: line-through;
	text-decoration-color: #22273480;
    padding-left: 4px;
    color: #22273480;
}

